# =========================
# Python
# =========================
venv/
.venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Environment Variables
.env
.env.local
.env.production

# Logs
*.log

# =========================
# ML / Training
# =========================
backend/training/dataset/
backend/ml_models/*.pt

# =========================
# Node / React
# =========================
node_modules/
frontend/node_modules/

# Build files
dist/
build/
frontend/dist/

# =========================
# Android / Capacitor
# =========================
.gradle/
.idea/
local.properties
*.iml

frontend/android/

# Firebase
google-services.json

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Vercel / Railway
# =========================
.vercel/

# =========================
# Misc
# =========================
coverage/
.cache/